/********************
* BUTTONS  *
********************/

.button {
	background: $secondaryBg;
	color: #fff;
	border: none;
	padding: .5em;
	outline: none;
	@include border-radius(5px);
	border-bottom: 2px solid darken($secondaryBg, 10%);
	cursor: pointer;

	&:hover {
			background: darken($secondaryBg, 10%);
	}
}
