/*------------------------------------------*\
    Header
\*------------------------------------------*/

header {
.title {
  margin-bottom: 2em;
  width: 70%;

  a {
    color: #333;

   &:hover {
    color: $secondaryBg;
    }
   }
  }

  @include media-query(palm) {
    .title{
      width: 100%;
    } 
  }
}