/*------------------------------------------*\
    Header
\*------------------------------------------*/

header {
.title {
  margin-bottom: 2em;
  padding-right: 1em;
  width: 70%;
  display: inline-block;
  vertical-align: top;

  a {
    color: #333;

   &:hover {
    color: $secondaryBg;
    }
   }
  }

  .main-form {
    width: 30%;
    display: inline-block;
    vertical-align: top;
  }

  @include media-query(palm) {
    .title{
      width: 100%;
    } 
  }
}