/*------------------------------------------*\
    MAIN LIST
\*------------------------------------------*/

.main-list {
  li {
    padding: .5em 0;
    list-style-type: square;
    margin-left: 1em;
  }
}

.list-sm {
  display: inline-block;
  width: 47%;
}