/*------------------------------------------*\
    MAIN LIST
\*------------------------------------------*/

.main-list {
  li {
    padding: .8em 0;
    list-style-type: square;
    margin-left: 1em;

    p {
    	margin-top: 1em;
    }
  }
}

.list-sm {
  display: inline-block;
  width: 47%;

   @include media-query(palm) {
    width: 100%;
    display: block;
   }
}