/*------------------------------------------*\
    Post-box
\*------------------------------------------*/

.post-box {
  border-bottom: 1px solid darken(#f5f6f7, 5%);
  padding: .5em 1em 1em 0;

  figure {
    display: inline-block;
    width: 35%;
    height: 300px;
    margin: 2em 0;
    vertical-align: top;
    overflow: hidden;

    img {
      min-width: 100%;
    }
  }

  .small {
    @include font-size(13);
  }

  .post-text {
    display: inline-block;
    width: 55%;
    margin-top: 2em;
    padding-left: 1em;
    p {
      max-height: 270px;
      overflow: hidden;
    }
  }
}

.more {
  display: block;
  margin-top: 1em;

  .icon {
    padding-left: .3em;
    position: relative;
    top: .15em;
    left: 0;
  }
}
