/*------------------------------------*\
    $FORMS
\*------------------------------------*/

form {
  margin: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

button,
input,
textarea{
  -webkit-appearance: none;
  @include border-radius(0);
}

button[disabled],
input[disabled] {
  cursor: default;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
}

/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/

.main-form {
  clear: both;

  input, textarea {
    width: 100%;
    display: block;
    border: 1px solid lighten(#ccc, 10%);
    background-color: $colorForm;
    outline: none;
    @include border-radius(5px);
    padding: .7em 1em;
    margin: 1em 0;
  }

  button {
    background: $secondaryBg;
    color: #fff;
    border: none;
    padding: .5em;
    outline: none;
    @include border-radius(5px);
    border-bottom: 2px solid darken($secondaryBg, 10%);
    cursor: pointer;

    &:hover {
      background: darken($secondaryBg, 10%);
    }
  }
}
